.hambuger {
    display: none;
    width:50px;
    height:50px;
    cursor: pointer;

}
.main {
    position: relative;
}
.mobile__menu {
    width:100%;
    height:100%;
    background-color:#404041;
    padding-left: 20px;
    padding-right:20px;
    box-sizing: border-box;
    display: none;
    z-index: 2000;
    top:0;
    position: fixed;
}
.mobile__menu--content {
    color:white;
    font-size: 18px;
    text-align: center;
    width:100%;
    position: absolute;
    display: grid;
    grid-row-gap: 50px;
    align-self: center;
}
.mobile__menu--content > span {
    cursor: pointer;
}
.form__login {
    background-color:white;
    width:100%;
    height:100%;
    display: none;
    color:black;
    position: fixed;
}
.form__signup {
    background-color:white;
    width:100%;
    height:100%;
    display: none;
    color:black;
    position: fixed;
}
.form__login {
    padding-left: 20px;
    padding-right:20px;
    box-sizing: border-box;
}
.login__title {
    text-align: center;
}
.accountCreate--forgot {
    padding-left:71px; 
    height:50px; 
    cursor: pointer;
}
.accountCreate--register {
    padding-right:71px;
    height:50px;
    cursor: pointer;
}
.header__iconMenu--mobile {
    display: none;
}
.hambuger__searchBox {
    position: relative;
    top:70px;
    height: 30px;
    grid-template-columns: 90% 10%;
    display: grid;
    background:white;
}
.searchIconBox {
    display: flex;
    justify-self: center;
    background-color: white;
    border: none;
    height: 30px;
}
.input--hambuger__searchBox {
    background:white;
    width:100%;
    height:30px; 
    padding-left: 10px;
    box-sizing: border-box;
    border:none;
    outline: none;
}
@media only screen and (max-width: 768px) { 
    .hambugerMenu {
        position: relative;
        top:48px;
        right:20px;
    }
    .input--form {
        width:100%;
    }
    .form__signup {
        padding-left:20px;
        padding-right:20px;
        box-sizing: border-box;
        display: none;
    }
    .hambuger {
        display: grid;
        position: relative;
        top: 0px;
        left: 40px;
    }
    .accountCreate {
        text-align: center;
        grid-template-columns: 1fr ;
    }
    .accountCreate--forgot {
        padding-left:0px;
    }
    .accountCreate--register {
        padding-right:0px;
    }
    .form__login {
       
        justify-content: center;
        align-content: start;
        padding-top: 50px;
        grid-row-gap: 40px;
    }
}