body {
    margin:0;
    padding:0;
    overflow-x: hidden;
}
@font-face {
    font-family: BookGlober ;
    src: url("../fonts/VL_Glober\ Book.otf")
}
@font-face {
    font-family: Montserrat ;
    src: url("../fonts/Montserrat-SemiBold.ttf")
}
@font-face {
    font-family: SemiGlober ;
    src: url("../fonts/VL_Glober\ SemiBold\ Free.otf")
}
@font-face {
    font-family: ThinGlober ;
    src: url("../fonts/VL_Glober\ Thin\ Free.otf")
}
.bold {
    font-weight: bold;
}
.BookGlober {
    font-family: BookGlober;
}
.Montserrat {
    font-family: Montserrat;
}
.SemiGlober {
    font-family: SemiGlober;
}
.ThinGlober {
    font-family: ThinGlober;
}
.white {
    background-color:white;
}
.blue {
    background-color:#D4EAD5;
}
.pink {
    background-color:#F2E4D1;
}
.pink1 {
    background-color:#F2E4D1;
}
.ocean {
    background-color:#D7EDEA;
}
.gray {
    background-color:#F7F7F7;
}
.main {
    width:100%;
}
.fontSize14 {
    font-size: 14px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;  
}
.btn {
    border:1px solid black;
    background:none;
}
.fullWidth {
    width:100%;
    height:500px;
}
.width--1180 {
    width:1190px;
}

.container {
    width:100%;
    display: grid;
    grid-template-rows: none;
    
}
.item__price {
    font-size: 20px;
    font-family: SemiGlober;
}
.header {
    width:100%;
    position: fixed;
    z-index: 100;
}
.header__main {
    height:100px;
    width:1190px;
    margin-left:auto;
    margin-right:auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.img__logo {
    display: flex;
    align-self: center;
   
}
.header__searchBox {
    display: flex;

    align-self: center;
}
.header__iconMenu {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;

    justify-self: end;
    grid-column-gap: 45px;
}
.slider--item {
    display: grid;
    grid-template-columns: 1fr 1.2fr;

}
.input--searchBox {
    width:610px;
    height:50px;
    padding-left:21px;
    box-sizing: border-box; 
}
.slider__item {
    padding-left:54px;
    padding-top:50px;
    width:580px;
    outline:none;
    height:350px;
    box-sizing: border-box;
    display: grid !important;
    grid-column-gap: 40px;
    grid-template-columns: auto 1.2fr;
}
.item__Title {
    font-weight: bold;
    font-size: 18px;
}
.item__theloai {
    margin-bottom:50px;
}
.slider__item--left {
    box-sizing: border-box;
}
.slider__item--right {
    display: grid;
    padding-bottom:58px;
    padding-top: 10px;
}
.mainSlider  {
    position: absolute;
    max-width: 100%;
    margin-top:100px;
}
.slider {
    height:350px;
    background-color: #F7F7F7;
    padding-bottom:61px;
    
}
.listPage {
    margin-top:100px;
    height:900px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 71px;
}
.listPage__left {
    width:880px;

}
.listPage__right {
    width:240px;
    padding-right:3px;
    box-sizing: border-box;
}
.listPage__left--filter {
    height:15px;
    margin-bottom:48px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.listPage__right--filter {
    height:15px;
    margin-bottom:48px;
    font-size: 24px;
    line-height: 1;
}
.list {
    width:420px;
    height:300px;
    margin-bottom:20px;
    padding:20px;
}
.list:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.listPage__left--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.listPadding {
    padding-bottom:10px;
}
.footer {

    height:525px;
}
.btn__slider--next {
    cursor: pointer;
}
.btn__slider--next::before {
    content:"→";
    width:50px;
    height:50px;
    z-index: 1000;
    font-size: 50px;
    position: absolute;
    right:10px;
    font-family: 'slick';
    color:white;
    opacity: 0.75;
    top: 36%;
}
.groupStar {
    height:15px;
    display: inline-flex;
}
.start {
    padding:25px;
}
.lastStar  {
    padding-right:14px;
}
.btn--xemthem {
    width:880px;
    height:40px;
    color:#414141;
    font-size: 20px;
}
.goodBook__item:first-child {
    display: flex;
    flex-flow: row;
    padding-top:20px;
}
.goodBook__item {
    display: flex;
    flex-flow: row;
    padding-bottom:20px;
}
.goodBook__item--left {
    padding-right:21px;
}
.goodBook__img {
    width:70px;
    height:103px;
}
.goodBook__item--right {
    display: flex;
    flex-flow: column;
    padding-top:15px;
}
.category {
    display: flex;
    justify-self: end;
}
.category__ul {
    display: inline-flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding:0;
    margin:0;
}
.category__ul > li {
    text-decoration: none;
    list-style: none;
    margin-right:24px;
    cursor: pointer;
}
.li-active {
    color:#F9B217;
}
.slick-dots li button:before{
    font-size: 18px;
    line-height: 29px;
    color:#404041;
}
/*----------custom slick--------*/
.slick-prev {
    left:10px;
    width:50px;
    height:50px;
    z-index: 2;
}
.slick-next {
    right:10px;
    width:50px;
    height:50px;
    z-index: 100;
    
}
.slick-prev:before, .slick-next:before{
    font-size: 50px;
}
.chonThue {
    width:80px;
    height:27px;
    font-size: 14px;
    padding:0px;
    color:black;
}




/*-----footer*/
.footer {
    width:100%;
    height:525px;
    background-color:#404041;
}
.footer__main {
    width:1200px;
    background-color:#404041;
    display: flex;
    padding-top: 98px;
    padding-left:100px;
}
.footer__item {
    background-color:#404041;
    width:100%;
    height:100%;
    display: flex;
    flex-flow: column;
    color:white;
}
.marginBottom {
    font-size: 20px;
}

.socialNetwork {
    width:100%;
    padding-bottom:40px;
}
.socialNetwork__Item {
    display: flex;
    justify-content: center;

}
.footer__item:first-child {
    width:500px;
}
.subcribe {
    display: flex;
    flex-flow: column;
}

.Flexmargin {
    margin-bottom: 20px;
    
}
.subcribeTitle {
    width:380px;
    height:50px;
}
.btn--subcribe {
    width:150px;
    height:49px;
    margin-bottom:31px;
    font-size: 24px;  
    color:white;
    border:1px solid white;  
}

.btn--Send {
    width:130px;
    height:49px;
    font-size:24px;
    color:white;
    border:1px solid white;
}
.mobile__display {
    display: none;
}
.shoppingCart--mobile {
    display: none;
}
.listPage--hambugerIcon {
    display: none;
}
.list--img__logo {
    top:39px;
    position: relative;
}
@media only screen and (max-width: 768px) {
    .header__searchBox {
        display: none;
    }
    .listPage--hambugerIcon {
        display: block;
    }
    .shoppingCart--mobile {
        display: flex;
        justify-content: center;
        position: fixed;
        top:32px;
        right:20px;
    }
    .header__main {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .slider__item {
        height:600px;
        grid-template-columns: none;
        grid-template-rows: auto 1.2fr;
        padding-left:0px;
        justify-items: center;
    }
    .slider__item--right {
        justify-items: center;
    }
    .item__theloai  {
        margin-bottom:0px;
    }
    .listPage {
        height:auto;
        margin-left:0;
        margin-right:0;
        margin-top:350px;
        width:100%;
        grid-template-columns: 1fr;
    }
    .listPage__left--list {
        justify-content: normal;
    }
    .slider__item:hover {
        box-shadow: 0px 0px 0px transparent;
    }
    .btn--xemthem {
        width:100%;
    }
    .listPage__right {
        display: none;
    }
    .listPage__left  {
        width:100%;
    }
    .list {
        width:100%;

    }
    .listPage__left--filter {
        grid-template-columns: 1fr;
    }
    .category {
        display: none;
    }
    .mobile__display {
        display: block;
    }
    .header__main {
        width:100%;
        grid-template-columns: 1fr 2fr 1fr;
    }
    .header__iconMenu {
        display: none;
    }
    .listPage--hambugerIcon {
        position: relative;
        top:43px;
        left:20px;
    }
    .img__logo {
        top:20px;
        align-self: normal;
        position: relative;
        justify-self: center;
    }
    .list--img__logo {
        top:41px;
        align-self: normal;
        position: relative;
        justify-self: center;

    }
    .mobile__menu--iconClose {
        position: fixed;
        top:20px;
        right:20px;
        width: 50px;
        display: grid;
        height: 50px;
        justify-content: end;
    }
    /*-------fix for footer---------*/
    .footer__item {
        width:100%;
        text-align: center;
        display: grid;
        justify-items: center;
    }
    .footer__item:first-child {
        width:100%;
        display: none;
    }
    .footer__main  {
        width: 100%;
        display: grid;
        padding-left:0px;
        grid-template-rows: 1fr;
        grid-row-gap: 87px;
    }
    .subcribe {
        display: grid;
        justify-items: center;
    }
    .listPage__left--loadMore {
        padding-left:20px;
        padding-right:20px;
        margin-bottom:50px;
    }
    .footer__item:last-child {
        padding-bottom:20px;
    }
    .btn--subcribe {
        margin-bottom:80px;
    }
    .btn__slider--next::before {
        top:350px;
        z-index: 2;
    }
   
}