/* COLOR CSS */ 
@font-face {
    font-family: BookGlober ;
    src: url("../fonts/VL_Glober\ Book.otf")
}
@font-face {
    font-family: Montserrat ;
    src: url("../fonts/Montserrat-SemiBold.ttf")
}
@font-face {
    font-family: SemiGlober ;
    src: url("../fonts/VL_Glober\ SemiBold\ Free.otf")
}
@font-face {
    font-family: ThinGlober ;
    src: url("../fonts/VL_Glober\ Thin\ Free.otf")
}
.BookGlober {
    font-family: BookGlober;

}
.Montserrat {
    font-family: Montserrat;

}
.SemiGlober {
    font-family: SemiGlober;
}
.ThinGlober {
    font-family: ThinGlober;
    color:#404041;
}
.colorText {
    color:#404041;
}
.grayColorText {
    color:#F7F7F7;
    font-size: 20px;
}
.white {
    background-color:white;
}
.btn--subcribe:hover {
    background-color:#FBB315;
    color:#F7F7F7F7;
    border:none;
}
.green1 {
    background-color:#D2F7DA;
}
.blue {
    color:#1C2579
}
.black {
    color:#000000;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body {
    margin:0;
    overflow-x: hidden;
}

.container {
    height:700px;
    width:100%;
}
.header {
    height:100px;
    width:100%;
    position: fixed;
    background-color:white;
    z-index: 1000;
}
.search {
    width:100%;
    height:650px;
    display: flex;
    flex-direction: column;
}
.heroBaner__backgroundImg {
    position: absolute;
    width:100%;
    z-index: 999;
}
.heroBaner {
    height:600px;
    width:100%;
    margin-top: 68px;
}
.MetroTrain{
    position: absolute;
    bottom:130px;
    left:-1500px;
    
}
.MetroTrain__imgMetro {
    width:50%;
}
.cloud {
    width:100%;
    position: absolute;
    z-index: 1;

}
.cloud__item {
    position: absolute;
}
.cloudPosition1 {
    left:200px;
}
.cloudPosition2 {
    left:400px;
    bottom:200px;
}
.cloudPosition3 {
    left:500px;
    top:300px;
}

.cloudPosition4 {
    right:200px;
    top:200px;
}
.cloudPosition5 {
    right:400px;
    bottom:436px;
}
.cloudPosition6 {
    right:700px;
    top:400px;
}
.imgMay {
    width:30%;
}
.heroBaner__searchBox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    top:126px;
    width:580px;
    z-index:999;
    padding-left:20px; 
    padding-right:20px;
    box-sizing: border-box;
}
.searchBox {
    width:100%;
    grid-template-columns: 90% 10%;
    border:1px solid #404041;
    padding-left:20px; 
    box-sizing: border-box;
    display: grid;
    position: relative;
}
.input__searchBox {
    width:100%;
    height: 40px;
    border:none;
    outline:none;
    background:none;
    font-size:20px; 

}
.input__searchBox::placeholder {
    color:#58595B;
}
.HWW--Icon {
    width:150px;
    height:150px;
    align-self: center;
    margin-bottom: 20px;
}
.HWW--title{
    margin-bottom: 20px;
    font-size: 36px;
}
.HWW--content {
    font-size: 24px;
}
.slider__title {
    margin-bottom: 50px;
    text-align: center;
    width:100%;
    font-size: 60px;
    margin-top:50px;
}
.linkPage {
    text-decoration: none;
    width: 280px;
    height:49px;
    margin-left:auto;
    margin-right:auto;
    color:white;
}
.onMenu {
    margin-left:105px;
}
.btn--discover {
    border:none;
    background:none;
    border:1px solid #404041;
    color:#404041;
    width:280px;
    padding:0;
    text-decoration: none;
    height:49px;
    font-size: 24px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.btn--discover:hover {
    background: #404041;
    color:#F7F7F7;

}
.footer {
    width:100%;
    height:525px;
    background-color:#404041;
}
.footer__main {
    width:1200px;
    background-color:#404041;
    display: flex;
    padding-top: 98px;
    padding-left:100px;
}
.footer__item {
    background-color:#404041;
    width:100%;
    height:100%;
    display: flex;
    flex-flow: column;
    color:white;
}
.marginBottom {

    font-size: 20px;
}

.socialNetwork {
    width:100%;
    padding-bottom:40px;
    height: 50px;
    display: inline-flex;
}
.socialNetwork__Item {
    display: flex;
    height:50px;
    width:50px;
    margin-right:20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:white;
}
.socialNetwork__Item:hover {
    background-color:#FBB315;
}
.footer__item:first-child {
    width:500px;
}
.subcribe {
    display: flex;
    flex-flow: column;
}

.Flexmargin {
    margin-bottom: 20px;
    
}
.subcribeTitle {
    width:380px;
    height:50px;
}
.btn--subcribe {
    width:150px;
    height:49px;
    margin-bottom:31px;
    font-size: 24px;    
}

.menu {
    width:1175px;
}
.img__logo {
    width:178px;
    height:25px;
}
.menu__logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}
.menu__main {
    width: 100%;
    justify-items: end;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1.7fr 0.6fr 0.6fr;
    padding-top:25px;
    font-family:SemiGlober; 
}
.login {
    width:100%;
    height:100%;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1200;
    
}
.login::before {
    content:"n";
    background-color:black;
    opacity: 0.5;
    width:100%;
    height:100%;
    position: absolute;

}
.login__main {
    width:620px;
    height:425px;
    border:1px solid #dddddd;
    background-color:white;
    color:white;
    text-align: center;
    z-index: 12;
    position: relative;
    transform:scale(0);
}
.login__title {
    padding-top:50px;
    padding-bottom: 39px;
}
.input--form {
    width:420px;
    height:40px;
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    font-size: 20px;
    outline:none;
}
.img--closeIcon {
    position: absolute;
}
.accountCreate {
    display: grid;
    grid-template-columns:1fr 1fr;
    font-size: 20px;
}
.closeIcon {
    display: grid;
    width:50px;
    height:50px;
    position: absolute;
    justify-items: center;
    align-items: center;
    
    top:15px;
    right:15px;
    cursor: pointer;
}
.form--login {
    width:100%;
    height:100%;
}
.form--register {
    width:100%;
    height:100%;
    display: none;
}
/*-------------------- Test css -----------------------*/
.test--red {
    width:100%;
    height:400px;
    /* background-color:red; */
    /* color:white; */
    outline:none;
    padding-left:20px;
    padding-right:20px;
    display: flex !important;
    flex-direction: column;
    grid-column-gap: 20px;
}
.jsSlider {
    width:1175px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
.btn {
    border:1px solid #FFFFFF;
    background:none;
    color:white;
}
.btn--signin {
    background-color:white;
    color:black;
    border:1px solid black;
    font-size:24px;
    width:155px; 
    height:50px;
    margin-bottom:60px;
    outline:none;
}
.btn--signin:hover{
    background-color:black;
    color:white;
}
.btn--Send {
    width:130px;
    height:49px;
    font-size:24px;
}
.btn--Send:hover {
    background-color:#FBB315;
    color:#F7f7f7f7;
    border:none;
}
.bg-respond {
    display: none;
}
.txt-aboutUS {
    font-size:48px;
    font-family:Montserrat;
    color:#404041;
}
.mobile__display {
    display: none;
}
.btnMenu {
    background:none;
    border:1px solid #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.btnMenu:last-child {
    margin-right:7px;
}
.btnMenu:hover{
    background-color:black;
    color:white;
    border:1px solid white;
}
.input-Icon {
    justify-self: center;
    align-self: center;
}
.Alert {
    color:black;
    
}
.ErrorEmail {
    bottom: 231px;
    left: 100px;
    position: absolute;
}
.ErrorPass {
    bottom: 165px;
    left: 100px;
    position: absolute;
}
.bg-web {
    width:100%;
    height:600px;
}
/*--------------------css autocomplete----------------------
------------------------------------------------------------
-----------------------------------------------------------*/
.autocomplete-items {
    position: absolute;
    top:60px;
    width:100%;
    font-family: BookGlober;
    padding-left:20px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px 0px #00000040;
    }
/*-----------------------------------------------------------
-------------------------------------------------------------
-------------------------------------------------------------
-------------------------RESPONDSIVE-----------------------*/

@media only screen and (max-width: 768px) {
    .bg-respond  {
        display: block;
        width:100%;
    }
    .socialNetwork {
        justify-content: center;
        padding-left:20px;
    }
    .bg-web {
        display: none;
    }
    .login__title {
        padding-top:50px;
    }
    .heroBaner {
        margin-top:128px;
    }
    .heroBaner__searchBox {
        width:100%;
        padding-left:20px;
        padding-right:20px;
        box-sizing: border-box;
        top:150px;
        z-index: 999;
    }
    .slick-prev {
        top:277px;
    }
    .menu__logo {
        grid-template-columns: 1fr 3fr;
    }
    .img__logo{
        padding-top:21px;
        padding-left:20px;
    }   
    .test--red {
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .jsSlider  {
        width:100%;
        grid-template-columns: none;
        grid-template-rows: 1fr;

    }
    .container {
        height: auto;
    }
    .txt-aboutUS {
        font-size: 24px;
    }
    .mobile__display {
        display: block;
    }
    .slider {
        padding-bottom:50px;
        grid-template-rows: none;
    }

    .menu__main {
        display: none;
    }
    .menu  {
        width:100%;
    }
/*--------------
.---------fix for footer---------------------*/

    .footer__item {
        width:100%;
        text-align: center;
        display: grid;
        justify-items: center;
    }
    .footer__item:first-child {
        width:100%;
        display: none;
    }
    .footer__main  {
        width: 100%;
        display: grid;
        padding-left:0px;
        grid-template-rows: 1fr;
        grid-row-gap: 87px;
    }
    .subcribe {
        display: grid;
        justify-items: center;
    }
    .listPage__left--loadMore {
        padding-left:20px;
        padding-right:20px;
        margin-bottom:50px;
    }
    .footer__item:last-child {
        padding-bottom:20px;
    }
    .btn--subcribe {
        margin-bottom:80px;
    }
    .btn--subcribe:hover {
        background-color:#FBB315;
        color:#F7F7F7F7;
        border:none;
    }
    .btn__slider--next::before {
        top:77%;
    }
    
}



